

body{
    /* border: solid red 1px; */
    height:100vh;
    margin-left: 25%;
    margin-right: 25%;

}


header{
    padding-top:3px;
    padding-bottom:15px;
    margin-bottom: 30px;
    border-bottom:solid rgb(249, 247, 247) 4px;
    height:fit-content;
    position: relative;
    height:fit-content;
    
    
}



    

.bar{
    display: block;
    background-color: white;
    /* border: solid grey 0.5px; */
    box-shadow: 1px 1px 10px 1px rgb(219, 215, 215);
    color: black;
    text-align: center;
    border-radius: 30px;
    width: 80%;
    position: relative;
    left: 10% ;
    right: 10%; 
    height:60px;
    margin-top: 15px;
    margin-bottom: -20px;
    

}

.filter-box{
    /* border: solid red 1px; */
    position: relative;
    top:-30px;
    left:92%;
    width:40px;
    border: solid rgba(128, 128, 128, 0.418) 1px;
    border-radius: 40px;
    height:43px;

}

.filter{
    position: relative;
    left:5px;
    top:7px
}

.search{
    width:26px;
    height: 25px;
    /* border: solid black 1px; */
    position: absolute;
    left: 21px;
    top:20px
    
}

#option1{
    /* border: solid black 1px; */
    position: absolute;
    left: 55px;
    bottom: 7px;
    top:5px;
    font-size: 15px;
    display:inline;
    width: max-content;
    font-size: 13px;
    height: fit-content;
    text-align: left;
    font-weight:800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

#option2{
    /* border: solid black 1px; */
    height:fit-content;
    width: 300px;
    font-size:11.5px;
    position: absolute;
    top:23px;
    left:55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color: grey;
    
}



.flexbox{
    /* border: solid purple 1px; */
    display: flex;
    position: relative;
    height:fit-content;
    flex-direction: row;
    justify-content: space-between;
    
    

}

.f-item{
    /* border: solid red 1px; */
    position: relative;
    top:auto;
    left: auto;
    height:30px;
    width:30px
}

.beachfront{
    left:10px
}

.icons{
    left:2px
}

.cabins{
    right:2px
}


.icon-text{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(90, 86, 86, 0.704);
    font-weight: 500;
}




.first-image-box{
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom:15px;
    
}



.first-image{
    width: 80%;
    border-radius: 13px;
    
}

.heart{
    width:45px;
    height:50px;
    position: absolute;
    right:10%
   

}

.first-home{
    /* border:solid red 1px */
}

.image-text{
    /* border: solid red 1px; */
    margin:0px;
    margin-bottom:4px;
}

.first-line{
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin-left:10%;
    margin-right:10%
    
}

.other-lines{
    color: rgb(96, 96, 96);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin-left:10%;
    margin-right:10%
}

.second-to-last-line{
    margin-bottom: 10px;
}

#cost{
    font-weight: 600;
    color:black
}

.last-line{
    text-decoration: underline;
}




